.DS_Store
.venv/
.env
.env.bak
notebooks/
backend/.env
backend/documents/
backend/data/
backend/data_pdf/
backend/additional-pdfs/
backend/qdrant_data/
json_package_instruct/
docs42/

.vscode/

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
